.footer{
    height: 75px;
    min-height: 75px;
    max-height: 75px;
}

.header {
  height: 75px;
      min-height: 75px;
      max-height: 75px;
}

.col-md-3 {
    height: 100px;
    max-height: 100px;
    min-height: 100px;
}
.col-md-9 {
    height: 300px;
    max-height: 300px;
    min-height: 300px;
  }
.col-md-2 {
      height: 300px;
      max-height: 300px;
      min-height: 300px;
  }
.col-md-8 {
      height: 300px;
      max-height: 300px;
      min-height: 300px;
    }
.long {
    height: 200px;
    max-height: 200px;
    min-height: 200px;
}
